body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Tag rules */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}
h1 {
  font-size: 56px;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

button {
  cursor: pointer;
  border-color: transparent;
  border: none;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 320px;
  margin: 96px auto;
  padding-left: 16px;
  padding-right: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**--------------- Header--------------- */
.header {
  max-width: 1440px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
}
.container-header {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.top-line {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}
.logo-up {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin: 25.5px 76px 25.5px 0; */
}
.logo-up-word {
  color: #2e2f42;
}

.link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.adress-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
  /* gap: 40px; */
  /* margin: 24px 0 24px 332px; */
}
.adress-item-contact {
  max-height: 14px;
}

.contact {
  color: #434455;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}
.header-menu-btn {
  background-color: #ffffff;
  display: block;
  margin-left: auto;
}

/**--------------- Title Section1 ------------*/
.section-title {
  max-width: 1440px;
  background-color: #2a2a2a;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 112px;
}
.container-title {
  display: block;
  margin: auto;
}

.title {
  color: #fff;
  text-align: center;
  max-width: 216px;
  text-align: center;
  font-style: normal;
  margin: 0 auto;
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.title-btn {
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-btn:hover,
.title-btn:focus {
  background-color: #404bbf;
}

/*---------- Features Section 2-------------*/

.section-features {
}

.features-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  gap: 72px;
}
.features-item {
}
.features-icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  height: 112px;
  margin-bottom: 8px;
}
.features-icon {
}

.features-title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --------------Team Section 3 -------------*/
.team {
  background-color: #f4f4fd;
}
.container-team {
  display: block;
  padding: 96px 28px;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-person {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  text-align: center;
  gap: 8px;
}

.team-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list-sm {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.list-sm-item {
}

.team-link-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-sm:hover,
.team-link-sm:focus {
  background-color: #404bbf;
}

.team-sm {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

/*------------ Portfolio--------------- */

.container-portfolio {
}
.portfolio-title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  /* column-gap: 24; */
  justify-content: center;
}
.portfolio-list-item {
}

.box-image {
  position: relative;
  overflow: hidden;
  /* width: 360px; */
}

.portfolio-information {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  /* width: 360px; */
}
.information-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.information-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**------------------------------------------ Foter */
.down-line {
  background-color: #2e2f42;
  /* padding: 100px 0; */
}
.container-footer {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
  padding: 96px 16px;
}
.box-logo {
  /* margin-right: 120px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.logo-down {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-down-word {
  color: #f4f4fd;
}
.down-line-text {
  color: #f4f4fd;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  max-width: 288px;
}

.box-soc-media {
  /* padding-right: 80px; */
  margin: 0 auto;
  margin-bottom: 72px;
}
.sm-text {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.sm-list-bot {
  display: flex;
  gap: 16px;
}
.sm-item-bot {
}
.sm-link-bot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm-link-bot:hover,
.sm-link-bot:focus {
  background-color: #31d0aa;
}

.sm-icon-bot {
  fill: #f4f4fd;
}

.footer-input-field {
  margin: 0 auto;
  width: 100%;
}
.footer-title-form {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.field-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  /* gap: 24px; */
  gap: 16px;
}
.email-label {
  width: 100%;
}
.footer-input {
  max-width: 320px;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  /* margin-right: 20px; */
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}
.btn-email {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #4d5ae5;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  border: none;
}
.footer-input::placeholder {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.04em;
}

.btn-icon-send {
  fill: #ffffff;
  margin-left: 16px;
}

/**---------------------------------------------- FORMA */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 408px;
  min-height: 584px;
  padding: 24px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .icon-close {
  fill: #ffffff;
}
.close-btn:focus .icon-close {
  fill: #ffffff;
}

.close-btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #e7e9fc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  background-color: #404bbf;
  border: none;
}
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.modal-form {
}

.input-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.input-field-coment {
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}

.svg-field {
  position: relative;
}
.icon-input {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 3px;
  padding-bottom: 3px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .icon-input {
  fill: #4d5ae5;
}
.comment-input {
  width: 360px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-input:focus {
  border-color: #4d5ae5;
}
.comment-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-field {
  margin-top: 16px;
  margin-bottom: 24px;
}
.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
}
.link-pp {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}
.copy-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.button-form {
  display: block;
  align-items: flex-start;
  border-radius: 4px;
  border-color: transparent;
  border: none;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: 96px;
  margin-top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/**--------------------------------768px---------------------------------------------------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /**------------ Header--------------- */
  .container-header {
    margin-top: 0;
    margin-bottom: 0;
  }
  .logo-up {
    margin-right: 120px;
  }
  .adress-list {
    gap: 12px;
  }
  /**--------------- Title Section1 ------------*/

  .title {
    font-size: 56px;
    max-width: 496px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
  /**---------- Features Section 2-------------*/
  .features-list {
    gap: 72px 24px;
    /* gap: 24px; */
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .features-title {
    text-align: start;
  }
  /** ---------------Team section 3------------ */

  .team-list {
    gap: 72px 24px;
  }
  /**------------ Portfolio Section 4--------------- */
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
  /**------------ Footer--------------- */
  .container-footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
    justify-content: flex-start;
    gap: 72px 24px;
    margin: 0 auto;
  }
  .box-logo {
    margin: 0;
    justify-content: flex-start;
  }
  .down-line-text {
    max-width: 264px;
  }
  .box-soc-media {
    margin: 0;
  }
  .sm-text {
    text-align: start;
  }
  .field-form {
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }
  .email-label {
    max-width: 264px;
  }
  .footer-title-form {
    text-align: start;
  }
}
/**--------------------------------1158px---------------------------------------------------- */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1128px;
    margin: 156px auto;
  }
  /**------------ Header--------------- */
  .container-header {
    padding: 0;
    margin: 0 156px;
  }
  .top-line {
    width: auto;
    margin-right: auto;
  }
  .logo-up {
    margin-right: 76px;
  }
  .adress-list {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 40px;

    margin-left: auto;
  }
  .adress-item-contact {
    max-height: 24px;
  }
  .contact {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /**--------------- Title Section1 ------------*/
  .title {
    margin-bottom: 48px;
  }
  /**---------- Features Section 2-------------*/
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .features-text {
    font-weight: 400;
    line-height: 1.5;
    width: 264px;
  }
  /** ----------Team section 3------------ */

  .team-list {
    flex-wrap: nowrap;
  }
  /**------------ Portfolio Section 4--------------- */
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item:hover .text-hover {
    transform: translateY(0%);
  }
  .portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .text-hover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 1157px) {
  .features-icon-background,
  .text-hover {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .portfolio-list-item {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}
@media screen and (max-width: 767px) {
  .navigation-list,
  .adress-list {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .header-menu-btn {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
